footer {
    background-color: var(--light-tertiary-color);
}

footer .footer-content {
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 47rem;
}

footer .footer-content .footer-contact span {
    display: block;
    font-weight: 500;
}

footer .footer-content ul li {
    display: inline-block;
}

footer .footer-content ul a {
    display: inline-block;
    padding: 1rem;
}

footer .footer-content .footer-copyright {
    font-size: 1.4rem;
}